body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: rgb(255, 255, 255); /* semi-transparent black background */
  }
 
  .container {
      text-align: center;
      background-color: white;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 300px; /* set width to 400px */
      height: 150px; /* set height to 400px */
      margin: auto; /* center horizontally */
    }
   
 
  h2 {
    color: #000000; /* dark grey text color */
    margin-bottom: 15px;
    font-size: 16px;
  }
 
  p {
    color: #000000; /* medium grey text color */
    margin-bottom: 30px;
    font-size: 18px;
  }
 
  button {
    background-color: #00ADEE; /* blue button color */
    color: white; /* white text color */
    border: none; /* no border */
    padding: 8px 8px; /* reduced padding */
    border-radius: 20px; /* slightly rounded corners */
    cursor: pointer; /* cursor style on hover */
    transition: background-color 0.3s; /* smoother hover effect */
    margin-bottom: 20px;
  }
 
  button:hover {
    background-color: #0056b3; /* darker blue on hover */
  }
 
  .options {
    display: flex;
    justify-content: center;
  }
 
  .fa-exclamation-triangle {
    color: #56a9e0; /* warning icon color */
    font-size: 30px; /* larger icon size */
    margin-right: 10px; /* spacing between icon and text */
    margin-left: 10px;
    margin-bottom: 20px;
  }
